/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

/* UNIVERSAL SELECTOR */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.855);
}

.indicator {
  border: none;
  border-radius: 100%;
  margin-right: 10px;
}

.indicator-inactive {
  opacity: 0.5;
}

/* BACKGROUND OF THE PAGE */
.app.crew {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app.destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.app.technology {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  min-height: 100vh;
  width: 100%;
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*--- SUBHEADING ---*/

.subheading {
  color: hsl(0, 0%, 100%);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.subheading span {
  margin-right: 18px;
  opacity: 0.6;
}

/* NAVIGATION BAR AND LOGO */

.nav-line {
  display: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 40px 20px 0;
}

.nav-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  min-width: 290px;
  width: 70%;
  min-height: 100vh;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 140px 0px 30px 70px;
  margin-left: 20px;
  z-index: 1;
  text-transform: uppercase;
  background-color: hsla(0, 0%, 23%, 0.5);
  color: hsl(0, 0%, 100%);
}

@supports (backdrop-filter: blur(1rem)) {
  .nav-menu {
    background-color: hsla(0, 0%, 100%, 0.233);
    backdrop-filter: blur(1rem);
  }
}

.nav-menu.open {
  display: flex;
}

.nav-button {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.hamburger-open {
  height: 32px;
}

.hamburger-closed {
  height: 32px;
}

.nav-num {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.nav-item a {
  height: 20px;
  width: 100%;
  border-bottom: none;
  margin-top: 32px;
  text-align: start;
}

.nav-item a:hover {
  border-color: hsla(0, 0%, 100%, 0.25);
}

.nav-item a:first-of-type {
  margin-top: unset;
}

/*--- NAVIGATION BAR ---*/

.nav-link:hover {
  color: hsl(0, 0%, 100%);
}

.active {
  color: hsl(240, 4%, 95%);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.hidden {
  display: none;
}

/*--- PAGE NOT FOUND ---*/

.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  height: 100vh;
}

/*--- CONTAINER ---*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--- HOMEPAGE ---*/

.homepage-container {
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 48px;
}

.home-text {
  width: 100%;
  margin-bottom: 5rem;
}

.home-heading {
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.home-title {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 6.25rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
}

.home-article {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Barlow", sans-serif;
  margin: 0;
  color: hsl(0 0% 100%);
}

.explore-button {
  border-radius: 100%;
  border: none;
  width: 9.375rem;
  height: 9.375rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: hsl(0, 0%, 100%);
  color: hsl(230 35% 7%);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: "Bellefair", serif;
}

/*--- DESTINATION ---*/

.destination-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1.5rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.destination-names {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100%;
  cursor: pointer;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2.36px;
  color: hsl(231 77% 90%);
}

.destination-content {
  max-width: 417px;
}

.destination-name {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3.5rem;
  color: hsl(0 0% 100%);
  opacity: 1;
}

.destination-description {
  margin-bottom: 2rem;
  font-family: "Barlow", sans-serif;
  font-size: 0.9375rem;
  line-height: 25px;
  --tw-text-opacity: 1;
  color: hsl(231 77% 90%);
}

.destination-line {
  margin-bottom: 2rem;
  display: block;
  height: 1px;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: hsl(231 15% 26%);
}

.destination-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.75rem;
  height: 10.625rem;
  width: 10.625rem;
}

.destination-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 2.36px;
  text-transform: uppercase;
}

.destination-information h4 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  font-family: "Barlow Condensed", sans-serif;
  color: hsl(231 77% 90%);
}

.destination-information span {
  color: hsl(0 0% 100%);
  font-family: "Bellefair", serif;
  font-size: 1.75rem;
}

/*--- CREW ---*/

.crew-text {
  color: hsl(231, 77%, 90%);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 83%;
  height: 272px;
  margin: 0 auto;
}

.crew-heading {
  font-family: "Bellefair", serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: hsl(231, 77%, 90%);
}

.crew-name {
  margin-bottom: 28px;
  margin-top: 8px;
  font-family: "Bellefair", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}

.crew-bio {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: hsl(231, 77%, 90%);
}

.crew-slide {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.crew-content {
  text-align: center;
}

.crew-img {
  height: 223.52px;
  margin: 0 auto;
  border-bottom: 1px solid hsla(231, 77%, 90%, 1);
}

.pagination-crew {
  margin-top: 50px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination-crew button {
  padding: 5px;
}

.pagination-crew button:hover {
  background-color: hsl(0, 0%, 100%);
  opacity: 0.8;
}

.pagination-crew.indicator {
  background-color: hsl(0, 0%, 100%);
  opacity: 1;
}

/*--- TECHNOLOGY ---*/

.technology-slide {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.technology-img {
  height: 14.6rem;
  width: 16.6rem;
  margin-bottom: 2rem;
}

.technology-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pagination-technology {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-technology button {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid hsl(0 0% 59%);
  background-color: transparent;
  font-family: "Bellefair", serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(0 0% 100%);
}

.pagination-technology .indicator:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  opacity: 0.8;
}

.technology-heading {
  margin-bottom: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: hsl(231 77% 90%);
}

.technology-name {
  margin-bottom: 2.5rem;
  font-family: "Bellefair", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: hsl(0 0% 100%);
}

.technology-description {
  font-family: "Barlow", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(231 77% 90%);
}

/*--- MEDIA QUERIES ---*/

/*--- MIN-WIDTH 768px ---*/

@media (min-width: 768px) {
  /* BACKGROUND OF THE PAGE */
  .app.crew {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .app.destination {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .app.technology {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .app {
    min-height: 100vh;
    width: 100%;
    background-image: url("/assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*--- NAVIGATION ---*/

  .hamburger-closed {
    display: none;
  }
  .hamburger-open {
    display: none;
  }

  .nav-line {
    display: block;
    border-top: 1px solid hsla(0, 0%, 100%, 0.25);
    width: 95%;
    margin-right: 10px;
    z-index: 1;
  }

  .navigation {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 2.5rem;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 44px 40px 44px;
    width: fit-content;
    min-height: fit-content;
    min-width: fit-content;
    position: absolute;
    margin-left: 150px;
    background-color: hsla(0, 0%, 100%, 0.051);
    backdrop-filter: blur(4px);
  }

  .nav-menu a {
    position: relative;
    height: 100%;
    font-family: "Barlow", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: hsl(0 0% 100%);
    opacity: 1;
  }

  /*--- SUBHEADING ---*/

  .subheading {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 28px;
    margin-left: 20px;
  }

  /*--- HOMEPAGE ---*/

  .homepage-container {
    margin-top: 6.625rem;
  }

  .home-text {
    margin-bottom: 9.75rem;
    width: 28.125rem;
    height: 20.875rem;
  }

  .home-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .home-title {
    font-size: 9.375rem;
  }

  .home-article {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .explore-button {
    width: 15.125rem;
    height: 15.125rem;
    font-size: 2rem;
  }

  /*--- DESTINATION ---*/

  .destination-img {
    margin-bottom: 3.5rem;
    height: 18.75rem;
    width: 18.75rem;
  }

  .destination-content {
    width: 696px;
  }

  .destination-names {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 2.7px;
  }

  .destination-name {
    font-size: 5rem;
  }

  .destination-description {
    margin-bottom: 3rem;
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .destination-line {
    margin-bottom: 1.75rem;
  }

  .destination-information {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }

  /*--- CREW ---*/

  .crew-container,
  .destination-container {
    display: block;
    width: 100%;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .crew-slide {
    flex-direction: column;
  }

  .crew-text {
    height: 14.5rem;
    width: 28.625rem;
  }

  .crew-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .crew-name {
    font-size: 40px;
    margin-top: 16px;
  }

  .crew-bio {
    margin-bottom: 2.8rem;
    line-height: 1.75rem;
  }

  .pagination-crew {
    margin-top: 0;
    justify-content: center;
  }

  .crew-img {
    height: 604px;
    border: none;
    margin-top: 20px;
  }

  /*--- TECHNOLOGY---*/

  .app.technology {
    min-height: 64rem;
    height: 44.375rem;
  }

  .technology-container.container {
    align-items: start;
  }

  .technology-img {
    width: 52vw;
    height: 100vh;
    margin-bottom: 3.5rem;
  }

  .pagination-technology {
    margin-bottom: 2.75rem;
  }

  .pagination-technology button {
    height: 3.75rem;
    width: 3.75rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .technology-text {
    width: 28.625rem;
    height: 14.125rem;
    margin: 0;
  }

  .technology-heading {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }

  .technology-name {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .technology-description {
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0;
  }
}

/*--- MIN-WIDTH 1100px ---*/

@media (min-width: 1110px) {
  /* BACKGROUND OF THE PAGE */
  .app.crew {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .app.destination {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .app.technology {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .app {
    min-height: 100vh;
    width: 100%;
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*--- NAV-MENU ---*/

  .nav-menu {
    padding-left: 118px;
    padding-right: 165px;
  }

  /*--- SUBHEADING ---*/

  .subheading {
    margin-top: 4.75rem;
    margin-bottom: 4.375rem;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 4.72px;
  }

  /*--- HOMEPAGE ---*/

  .homepage-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15.6875rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .home-text {
    text-align: left;
    height: 23.875rem;
    width: 28.125rem;
  }

  .home-heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .home-title {
    font-size: 10.75rem;
  }

  .home-article {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .explore-button {
    width: 17.125rem;
    height: 17.125rem;
    font-size: 2rem;
  }

  /*--- DESTINATION ---*/

  .destination-subheading {
    padding-left: 26px;
  }

  .destination-slide {
    margin-top: 4.875rem;
    margin-left: 2.75rem;
    padding-left: 0;
    text-align: left;
    flex-direction: row;
  }

  .destination-content {
    width: 27.8125rem;
    padding-right: 2.75px;
  }

  .destination-img {
    margin-bottom: 0;
    margin-left: 0;
    height: 27.8125rem;
    width: 27.8125rem;
  }

  .destination-names {
    justify-content: flex-start;
  }

  .destination-name {
    font-size: 6.25rem;
  }

  .destination-description {
    margin-bottom: 3.375rem;
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .destination-information {
    text-align: left;
    justify-content: left;
    gap: 80px;
  }

  /*--- CREW ---*/

  .crew-subheading {
    margin-left: 0;
  }

  .crew-container {
    width: 100%;
  }

  .crew-slide {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .crew-content {
    text-align: left;
    width: 55%;
  }

  .crew-text {
    margin-top: 154px;
    margin-left: 0;
    margin-bottom: 100px;
    width: 100%;
    height: 16.9375rem;
  }

  .crew-heading {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .crew-name {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
  }

  .crew-bio {
    margin-bottom: 7.5rem;
    width: 30.5rem;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .crew-img {
    max-height: 44.5rem;
  }

  .pagination-crew {
    justify-content: flex-start;
  }

  .pagination-crew button {
    width: 15px;
    height: 15px;
  }

  /*--- TECHNOLOGY ---*/

  .technology-subheading {
    padding-left: 98px;
  }

  .technology-slide {
    flex-direction: row;
    padding-left: -2.5rem;
  }

  .technology-content {
    flex-direction: row;
  }

  .pagination-technology {
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
  }

  .pagination-technology button {
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    line-height: 2px;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  .technology-text {
    margin-right: 130px;
    margin-left: 80px;
    padding-left: 0;
    padding-right: 0;
    height: 18.9375rem;
    width: 29.375rem;
    text-align: left;
  }

  .technology-heading {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .technology-name {
    font-size: 3.5rem;
  }

  .technology-description {
    width: 26.75rem;
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .technology-img {
    margin-bottom: 0;
    height: 32.9375rem;
    width: 32.1875rem;
  }
}
