/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

/* UNIVERSAL SELECTOR */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bellefair", serif;
  text-align: center;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.855);
}

/* BACKGROUND OF THE PAGE */
.app.crew {
  background-image: url("../assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app.destination {
  background-image: url("../assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.app.technology {
  background-image: url("../assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  min-height: 100vh;
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVIGATION BAR AND LOGO */
.logo {
  margin: 2rem;
}

.line {
  border-top: 1px solid hsla(0, 0%, 100%, 0.25);
  width: 90%;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  margin-left: 56px;
  margin-right: 40px;
  padding: 40px 20px 0;
}

.nav-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  min-width: 290px;
  width: 70%;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  right: 0;
  padding: 140px 0px 30px 70px;
  margin-left: 20px;
  z-index: 1;
  text-transform: uppercase;
  background-color: hsla(0, 0%, 23%, 0.5);
  transition: 0.4s right ease-in-out;
  color: hsl(0, 0%, 100%);
}

@supports (backdrop-filter: blur(1rem)) {
  .nav-menu {
    background-color: hsla(0, 0%, 100%, 0.233);
    backdrop-filter: blur(1rem);
  }
}

.nav-menu.open {
  display: flex;
}

.nav-button {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.hamburger-open {
  height: 32px;
}

.hamburger-closed {
  height: 32px;
}

.nav-num {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.nav-item a {
  height: 20px;
  width: 100%;
  border-bottom: none;
  margin-top: 32px;
  text-align: start;
}

.nav-item a:hover {
  border-color: hsla(0, 0%, 100%, 0.25);
}

.nav-item a:first-of-type {
  margin-top: unset;
}

/* NAVIGATION BAR TEXT ON ACTIVE AND ON HOVER */

.nav-link:hover {
  color: hsl(0, 0%, 100%);
}

.active {
  color: hsl(240, 4%, 95%);
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* SUBHEADING */
.subheading {
  display: block;
  color: hsl(240, 4%, 95%);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4.7px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: start;
}

.subheading span {
  font-weight: 700;
  margin-right: 20px;
  mix-blend-mode: normal;
  opacity: 0.25;
}

/* CONTAINER */

.container {
  margin-left: 4vw;
  margin-top: 50px;
}

/* HOMEPAGE */
.home-text {
  margin-left: 3vw;
  margin-top: 80px;
}

#heading {
  text-transform: uppercase;
  font-weight: 400;
  color: hsl(231, 77%, 90%);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
}

.home-text h1 {
  font-weight: 400;
  font-size: 80px;
  line-height: 100px;
  text-transform: uppercase;
  margin: 20px auto 10px;
  color: hsl(0, 0%, 100%);
}

.home-text p {
  font-weight: 400;
  color: hsl(230, 24%, 90%);
  width: 90%;
  font-size: 15px;
  line-height: 25px;
  font-family: "Barlow", sans-serif;
  margin: 10px auto;
}

.explore-btn {
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  color: hsl(230, 35%, 7%);
  border-radius: 50%;
  padding: 80px 30px;
  border: 0;
  background-color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  transform: translate(-50% 50%);
  margin: 50px 100px;
  cursor: pointer;
}

.explore-btn::after {
  content: "";
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.25);
  position: absolute;
  display: block;
  top: -27px;
  left: -27px;
}

.explore-btn:hover::after {
  width: 260px;
  height: 250px;
}

/* DESTINATION */

.destination-container img {
  margin: 0 auto;
  width: 300px;
}

.destination-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* DESTINATION NAVIGATION WITH NAMES */

.destination-names {
  position: relative;
  left: 55%;
  top: -30px;
  transform: translate(-50%, 50%);
  margin: 30px 0 0;
  text-align: start;
}

.destination-names span {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  line-height: 19px;
  margin: 0 20px;
  text-transform: uppercase;
}

.destination-names span:hover {
  opacity: 0.4;
}

/* DESTINATION TEXT */

.destination h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 64px;
  margin: 100px auto 15px;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: hsl(231, 51%, 92%);
  width: 90%;
  margin: 0 auto;
}

/* DESTINATION INFORMATION */

.destination-information {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
}

h4 {
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  color: hsl(231, 77%, 90%);
  margin: 10px 0;
}

.destination-information span {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: hsl(231, 77%, 90%);
  line-height: 32px;
}

/* INDICATORS */

.indicators {
  display: flex;
  gap: 10px;
  color: hsl(240, 4%, 95%);
  cursor: pointer;
}

/* SLIDE WITH CLASSNAME HIDDEN*/

.slide-hidden {
  display: none;
}

/* CREW */

.crew-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.crew-img {
  min-height: 74vh;
  max-height: 74vh;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 35px;
}

/* CREW TEXT */

.crew-text {
  width: 100%;
}

.crew-text span {
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
  line-height: 28px;
  padding: 40px 0 20px;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 40px;
  line-height: 46px;
}

/* PAGINATION CREW */

.pagination-crew {
  padding-bottom: 100px;
}

.pagination-crew button {
  background-color: hsl(0, 0%, 100%);
  border-radius: 100%;
  opacity: 0.8;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.pagination-crew button:hover {
  opacity: 0.5;
}

.pagination-crew button:active {
  background-color: hsl(0, 0%, 100%);
  opacity: 1;
}

.indicators.pagination-crew {
  justify-content: center;
  margin-top: 20px;
}

/* TECHNOLOGY */

.technology-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}

/* TECHNOLOGY PAGINATION */

.pagination-technology {
  display: flex;
  flex-direction: row;
  order: 1;
  gap: 20px;
}

.pagination-technology button:hover {
  border: 1px solid hsl(0, 0%, 100%);
}

.pagination-technology button:active {
  background-color: hsl(0, 0%, 100%);
  color: #0b0d17;
  opacity: 1;
}

.pagination-technology button {
  border-radius: 50%;
  background-color: transparent;
  width: fit-content;
  padding: 15px 25px;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 2px;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 46%);
  margin: 10px 0;
  cursor: pointer;
}

/* TECHNOLOGY CONTENT */

.technology-content {
  order: 2;
}

.technology-content span {
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: hsl(231, 77%, 90%);
  text-transform: uppercase;
  margin: 30px 0 0;
}

/* TECHNOLOGY IMAGE */

.technology-image {
  order: 0;
  min-height: 70vh;
  max-height: 70vh;
  margin-left: 0;
  width: 62vw;
  margin: 30px 0;
}

/* PAGE NOT FOUND */

.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  height: 100vh;
}

/*-------------- MEDIA QUERIES -------------*/

/* MIN-WIDTH 600px */

@media (min-width: 600px) {
  * {
    text-align: start;
  }

  /* HOMEPAGE */
  .homepage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-text {
    margin-top: 30px;
  }

  #heading {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }

  .home-text h1 {
    font-size: 150px;
    line-height: 150px;
  }

  .home-text p {
    font-size: 16px;
    line-height: 28px;
    max-width: 500px;
  }

  /* DESTINATION */

  .destination-container img {
    margin-top: 30px;
    width: 400px;
  }

  .subheading {
    text-align: start;
    letter-spacing: 4.725px;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 4.725px;
    line-height: 34px;
    text-transform: uppercase;
  }

  p {
    max-width: 550px;
    font-size: 18px;
    line-height: 32px;
  }

  .destination-information {
    gap: 40px;
    justify-content: center;
    flex-direction: row;
    margin: 50px 0;
  }

  .destination-names {
    top: -7px;
  }

  /* CREW */

  .crew-text span {
    font-size: 32px;
    line-height: 37px;
    padding: 40px 0 0;
  }

  h1 {
    font-size: 56px;
    line-height: 64px;
  }
}

/* MIN-WIDTH 700px */

@media (min-width: 700px) {
  /* BACKGROUND OF THE PAGE */
  .app.crew {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .app.destination {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .app.technology {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .app {
    min-height: 100vh;
    background-image: url("../assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* NAVIGATION */

  .navigation {
    padding: 40px 0px;
  }

  .nav-menu {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row;
    padding: 30px 50px 30px 80px;
    width: fit-content;
    min-height: fit-content;
    position: static;
    min-width: fit-content;
  }

  .nav-link:hover,
  .nav-link.active {
    padding-bottom: 28px;
    border-bottom: 3px solid white;
  }

  .line {
    display: block;
  }

  .nav-button {
    display: none;
  }
}

/* MIN-WIDTH 1200px */

@media (min-width: 1200px) {
  /* BACKGROUND OF THE PAGE */
  .app.crew {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .app.destination {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .app.technology {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .app {
    min-height: 100vh;
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* HOMEPAGE */

  .home-text {
    margin-top: 150px;
  }

  #heading {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }

  .home-text h1 {
    line-height: 172px;
    margin: 0;
  }

  .home-text p {
    font-size: 18px;
    line-height: 32px;
    width: 30%;
    max-width: 30%;
    margin: 0;
  }

  .explore-btn {
    padding: 100px 50px;
    position: absolute;
    left: 70vw;
    top: 50%;
  }

  .explore-btn:hover::after {
    width: 320px;
    height: 310px;
    top: -40px;
    left: -35px;
  }

  /* DESTINATION */

  .destination-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 17vw;
    margin-top: 50px;
  }

  .destination-container img {
    margin: 30px 0;
    width: 470px;
  }

  .destination-names {
    top: 50px;
    left: 84.85%;
    margin: 0;
    width: 50%;
  }

  .destination h1 {
    font-size: 100px;
    line-height: 115px;
    margin: 10px 0 15px;
  }

  p {
    width: 85%;
    margin: 0;
  }

  .destination-information {
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }

  /* CREW */

  .crew-text span {
    padding: 0;
  }

  .crew-content {
    flex-direction: row;
  }

  .crew-text {
    width: 50%;
  }

  .crew-img {
    margin-top: -30px;
    min-height: 80vh;
    max-height: 80vh;
  }

  .pagination-crew {
    padding-bottom: 100px;
  }

  .pagination-crew button {
    width: 20px;
    height: 20px;
  }

  .indicators.pagination-crew {
    justify-content: start;
  }

  /* TECHNOLOGY */

  .technology-container {
    flex-direction: row;
  }

  .pagination-technology {
    flex-direction: column;
    order: 0;
    gap: 0px;
  }

  .technology-content {
    margin-left: 50px;
    order: 1;
    display: flex;
    gap: 100px;
    padding-bottom: 0px;
  }

  .technology-image {
    min-height: 70vh;
    max-height: 80vh;
    width: 30vw;
    order: 2;
    margin: 35px 40px;
  }
}
